@use '@angular/material' as mat;




:root {
  @include mat.button-overrides((
    filled-container-shape: '6px', 
    outlined-container-shape :'6px'

  ));
  @include mat.badge-overrides((
    background-color: rgb(40, 108, 117),
    
  ));
}

.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__nothc { 
  border-right-style: none !important;
}


